{% extends "layout.html" %}

{% block content %}

<div class="text-center">
    <a href="" class="btn btn-primary btn-rounded mb-4" data-toggle="modal" data-target="#modalRegisterForm">
    Create New Playlist</a>
</div>

<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">{{ title }}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <form class="needs-validation" method = "POST" action = "" novalidate>
                {{ form.hidden_tag() }} <!--Prevents CRSF -->
                <div class = "form-group">
                    {{  form.playlist_name.label(class="form-control-label") }}
                    <!--Validate input and print errors if needed-->
                    {% if form.playlist_name.errors %}
                        {{ form.playlist_name(class="form-control form-control-md is-invalid") }} <!-- Bootstrap required classes -->
                        <div class="invalid-feedback">  <!-- Bootstrap required class -->
                            {% for err in form.playlist_name.errors %}
                                <span>{{ err }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{  form.playlist_name(class="form-control form-control-md") }}
                    {% endif %}
                </div>
                <div class="form-group text-center">
                    {{  form.submit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}
