<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Social Playlist</title>
        <link rel = "stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    </head>
    <body>
       <div id="app-container">
           <div id="app-window">
               <div id = "welcome">Social Playlist</div>
               <div id = "login-container">
                   <button id = "login">LOGIN</button>
               </div>
               <div id = "sign-up-container">
                   <button id = "sign-up">SIGN UP</button>
               </div>
           </div>
       </div>
    </body>
</html>